/dyn
/nbproject/private/
*.suo
/themecheck_clean/themecheck_clean/bin
/themecheck_clean/themecheck_clean/obj
/DB/db_credentials.php
/themecheck_clean
/sitemap_joomla.xml
/sitemap_wordpress.xml
/sitemap_wordpress_child.xml
/sitemap.xml
/sitemap_static.xml
